*{
	margin: 0;
	padding: 0;
  }
  
  body{
	font-family: ‘Muli’, sans-serif;
	text-align: justify;
  }
  
  header{
	background: #fffb02;
	height: 130px;
	overflow: hidden;
  }
  
  footer{
	margin-top: 20px;
	background: #16A085;
	height: 50px;
  }
  
  header div footer div{
	width: 80%;
	margin: 0 auto;
	color: white;
  }
  
  h1{
	font-size: 2.3rem;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
  }
  
  h2{
	font-size: 2rem;
  }
  
  section{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	margin: 0.5%;
  }
  
  section article{
	float: left;
	font-size: 0.9rem;
	height: 340px;
	width: 31.33%;
	border: 2px dashed #16A085;
	padding: 1%;
	box-sizing: border-box;
	overflow: hidden;
  }
  
  section article img{
	height: 180px;
	max-width: 80%;
	margin: 5px auto;
	display: block;
  }
  
  h3{
	text-align: center;
  }
  
  footer div{
	padding-top: 1rem;
  }
  #juegos{
	max-width: 800px;
	margin: auto;
  } 
  .contenedor-preguntas {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	background: #ccc;
  }
  label {
	display: flex;
	font-size: 22px;
	margin-bottom: 10px;
	cursor: pointer;
  }
  input{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
  }
  .correcta{
	background-color: #89ff02;
  }
  .incorrecta{
	background-color: #ff0202;
  }
  .acierto {
	font-size: 20px;
	background-color: #16A085;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	margin-left: 15px;
  }
  .no-acierto {
	font-size: 20px;
	background-color: darkred;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	margin-left: 15px;
  }
  button{
	width: fit-content;
	display: block;
	margin: auto;
	border: none;
	background: #000;
	color: #ccc;
	padding: 10px 20 px;
	border-radius: 30px;
	font-size: 20px;
	cursor: pointer;
  }